.left{
  width: 100%;
}

/* small screen */
@media screen and (max-width: 640px){
  .left{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto
  }
}

/* medium screen */
@media screen and (max-width: 768px){
  .left{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}