.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  padding: 1rem;
  padding-top: 2rem;
}

.contact{
  transition: 0.3s ease;
  color: white;
  border-radius: 50px;
  padding: 8px;
}

.contact:hover{
    background-color: #212d45;
    transform: scale(1.2);
    cursor: pointer;
}

.home{
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 2rem;
}

.navbar{
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

.navcontacts{
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.75);
  transition: 0.4s ease;
}

.navlink:hover{
  color: #fff;
  opacity: 1;
  cursor: pointer
}

.navlist{
  list-style: none;
}

/* small screen */
@media screen and (max-width: 640px){
  .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 60px);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }

  .home{
    grid-area: 1 / 1 / 2 / 3;
  }

  .navbar{
    grid-area: 2 / 2 / 3 / 5;
  }

  .navcontacts{
    align-items: center;
    grid-area: 1 / 4 / 2 / 6;
  }

  .navlink{
    padding: 0.5rem;
  }
}

